<% validation_errors.forEach(element => { %>
    <h6><%- element.msg %>  </h1>
<% }) %>

<% success_message.forEach(element => { %>
    <h6><%- element.msg %>  </h1>
<% }) %>

<% login_error.forEach(error => { %>
    <h6><%- error %>  </h1>
<% }) %>